NEXT_PUBLIC_SITE_URL="example.com"

JWT_SECRET=example_jwt_secret_key_that_should_be_long_and_secure
REFRESH_TOKEN_SECRET=example_refresh_token_secret_key_that_should_be_long_and_secure

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="example_firebase_api_key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="example.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="example_project_id"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="example_project_id.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="example_messaging_sender_id"
NEXT_PUBLIC_FIREBASE_APP_ID="example_app_id"

#Firebase Admin SDK Configuration
FIREBASE_TYPE="service_account"
FIREBASE_PROJECT_ID="example_project_id"
FIREBASE_PRIVATE_KEY_ID="example_private_key_id"
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nexample_private_key\n-----END PRIVATE KEY-----\
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-fbsvc@example_project_id.iam.gserviceaccount.com"
FIREBASE_CLIENT_ID="example_client_id"
FIREBASE_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIREBASE_TOKEN_URI="https://oauth2.googleapis.com/token"
FIREBASE_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_CLIENT_X509_CERT_URL="https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40example_project_id.iam.gserviceaccount.com"
FIREBASE_UNIVERSE_DOMAIN="googleapis.com"
NEXT_PUBLIC_FIREBASE_WEB_PUSH_CERTIFICATE="example_web_push_certificate"


NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=example_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=example_supabase_service_role_key
NEXT_PUBLIC_SUPABASE_STORAGE_BASE_URL=http://127.0.0.1:54321/storage/v1

# GEMINI
GEMINI_API_KEY='example_gemini_api_key'


GMAIL_USER="example_gmail_user"
GMAIL_PASS="example_gmail_app_password"
